<!DOCTYPE html>
<html>
  <head>
    <title>Bach Fantasy App</title>
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
  </head>
  <body>
    <div id="main"></div>
    <script src="js/bundle.js"></script>
  </body>
</html>