<!DOCTYPE html>
<html>
  <head>
    <title>Bach Fantasy App</title>
    <link rel="stylesheet" type="text/css" href="/css/bundle.css">
  </head>
  <body>
    <div id="main"><%- html %></div>
    <script type="text/javascript">
    	window.__PRELOADED_STATE__ = '<%- reduxState %>'
    </script>
    <script src="/js/bundle.js"></script>
  </body>
</html>