<!DOCTYPE html>
<html>
  <head>
    <title>BachFantasyApp</title>
  </head>
  <body>
    <h1>Welcome to the BachFantasy app!</h1>
    <section>
      <p>Learn more at <a href="http://bachfantasy.com">www.bachfantasy.com</a>.
    </section>
  </body>
</html>