.app-header {
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	box-shadow: 0 1px 15px;

	.nav-bar {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			&> li {
				float: left;
			}
		}

		.left-nav {
			float: left;

			&> li > a {
				display: block;
				padding: 30px;
				text-decoration: none;
				color: black;
			}

			.active {
				background-color: red;
				color: white;
			}
		}

		.right-nav {
			float: right;

			&.welcome {
				padding: 30px;
			}

			&> li {
				padding: 30px;
			}
		}
	}
}